logs
project/project
project/target
tmp
.history
.class
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
report/*.pdf
report/*.xls
.directory
scala-2.10
specs2-reports
native_libraries