@()(implicit nhanVien: Option[NhanVien])

@import views.html.partials._

<!DOCTYPE html>
<html>
<head>
    @header(nhanVien)
</head>

<body>
<div id="waiting-container">
    <div id="waiting-panel">
        <p>
            <img src="/assets/img/ajax-loader.gif" alt="SunERP" style="vertical-align: bottom"/>
            Xin vui lòng chờ chương trình đang xử lý...
        </p>
    </div>
</div>
<div id="loading-container">
    <div id="loading">
        <div class="title">SunERP is loading...</div>
        <img src="/assets/img/loading.gif" alt="SunERP"/>
    </div>
</div>
</body>
</html>