.icon-grid {
  background-image: url(/assets/img/icons/fam/grid.png) !important;
}

.add {
  background-image: url(/assets/img/icons/fam/add.png) !important;
}

.option {
  background-image: url(/assets/img/icons/fam/plugin.png) !important;
}

.remove {
  background-image: url(/assets/img/icons/fam/delete.png) !important;
}

.save {
  background-image: url(/assets/img/icons/fam/disk.png) !important;
}

.x-grid-rowbody p {
  margin: .5em 0;
}